{% extends '../base.html' %}
{% block title %}Change Password{% endblock %}
{% block body %}

    <div class = "container-fluid">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1> Change Password</h1><div class="line"></div><hr/>
                    <h4 style="color: blue;">Hurray! Your password has been changed.</h4>
                </div>
		<div class="panel-footer">
		       Already have an account?<a href="{% url 'movie:login' %}">Click here</a> to Login.
		 </div>
            </div>
        </div>
    </div>

{% endblock %}
