{% extends '../../base.html' %}
{% block title %}Reset Password{% endblock %}

{% block body %}

    <div class = "container-fluid" >
        <div class="col-lg-6 col-lg-offset-3 " >
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1> Reset Password</h1><div class="line"></div><hr/>
                    {% if error_message %}
                        <p><strong>{{error_message}}</strong></p>
                    {% endif %}

                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">    
                        {% csrf_token %}
                        {% include '../../form_template.html' %}
                        
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Send</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
