{% extends 'movie/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'movie/css/profile.css' %}" />
{% endblock %}

{% block body %}
<div class="akm">
<div class="v">

 <center><h2> <b>About Erudition</b> </h2></center>

 <h2><b>The Largest Web Developer Site on the Internet</b></h2><br/>

<h3>What is Erudition?</h3>
Erudition is a web developers site, with tutorials and references on web development languages such as HTML, CSS, JavaScript, PHP, Python, DBMS, Java, C, C++,Django and DS, covering most aspects of web programming.<br/><br/>

The site derives its name on the quote that is "The ability to show knowledge".<br/><br/>

Erudition was originally created in 2020 by two students (Vinayak Srivastva and Anjali Verma) from United Institute of Manangement (FUGS), Prayagraj.<br/><br/>
<h2></h2>

<h3>Easy Learning</h3>
Erudition has focus on simplicity.<br/><br/>

Erudition provides questions hfor helping you in interviews and other.<br/><br/>

Erudition practice easy and straight-forward learning.<br/><br/>

Erudition uses simple code explanations with simple illustrations of how to use it.<br/><br/>

Erudition  start from basic level up to professional references.<br/><br/>
<h2></h2>
<h3>Try It Yourself</h3>
Erudition presents thousands of code examples.<br/><br/>

By using our online editor, Try it Yourself, you can edit examples and execute computer code experimentally, to see what works and what does not, before implementing it.<br/><br/>
<h2></h2>
<h3>Erudition is Free</h3>
Erudition is, and will always be, a completely free developers resource.<br/><br/>
<h2></h2>
<h3>You Can Help</h3>
Many people work very hard to ensure Erudition remains useful, educational, updated, and interesting.<br/><br/>

If you find an error, or a broken link, please tell us about it.<br/><br/>

<h2>Use the link <b>"REPORT ERROR"</b> at the bottom of each page.</h2>

<h3>Add a Link to Us</h3>
If you want others to discover Erudition, please add a link to us.<br/><br/>

<h3>To add a simple text link, insert the following HTML code on your site:</h3>

<a href="https://www.Erudition.com/">Erudition.com</a><br/><br/>
If you want to link with a banner, please choose from  Banners and Buttons<br/><br/>


 </div>
</div>


{% endblock %}