
{% extends 'movie/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'movie/css/profile.css' %}" />
{% endblock %}

{% block body %}
<div class="akm">
<div class="v">

 <center><h2> <b>Welcome.!</b> &nbsp&nbsp </h2></center>

  <p>

    <h1> <b>Mobile No. :-</b></h1>
    <center> <h1> <b>Vinayak Srivastava :- +91 8182868742 </b></h1></center>
    <center> <h1> <b>Anjali Verma :- +91 8299350441 </b></h1></center>
    <center> <h1> <b>Ankit Maurya :- +91 7071734536 </b></h1></center>
   
  </p>
  <p>
    <h1> <b>Mail ID :-</b></h1>
    <center> <h1> <b>Vinayak Srivastava :- vinayaksrivastava318@gmail.com</b></h1></center>
    <center> <h1> <b>Anjali Verma :- anjaliverma111199@gmail.com</b></h1></center>
    <center> <h1> <b>Ankit Maurya :- ankitmaurya797@gmail.com</b></h1></center>
   
  </p>

 </div>
</div>


{% endblock %}
