{% extends 'movie/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'movie/css/profile.css' %}" />
{% endblock %}

{% block body %}
<div class="akm">
<div class="v">

 <center><h1> <b>About Our Privacy</b></h1></center>



<h2><b>Privacy Statement for Erudition</b></h2><br/><br/>
<h2>The following statements describes the privacy practices for Erudition:</h2><br/>

We do not collect any personal information from our users<br/><br/>
Visits are logged for aggregate statistics and diagnosis<br/><br/>
Security settings protect the misuse of sensitive information<br/><br/>
Personal User Information<br/><br/>
Erudition requires no user registration. Users are free to visit Erudition, and navigate all its pages.<br/><br/>

<h2></h2>
<h3>Cookies</h3>

Our website uses cookies, like almost all websites. Cookies are small text files that are placed on your computer or mobile phone when you browse websites, to help provide you with the best experience we can.<br/><br/>
<h2></h2>
<h3>Our cookies help us:</h3>

Improve the speed of the site<br/><br/>
Continuously improve our website for you<br/><br/>
Allow you to share pages with social networks  Facebook<br/><br/>
Offer you free services/content (by advertisinlikeg)<br/><br/>
Make our marketing more efficient (helping us keep the site free to use)<br/><br/>
<h2></h2>
<h3>We do not use cookies to:</h3><br/><br/>

Collect any personally identifiable information (without your express permission)<br/><br/>
Collect any sensitive information (without your express permission)<br/><br/>
Pay sales commissions<br/><br/>
<h2></h2>
<h3>You can learn more about all the cookies we use below</h3><br/>

<h2>Permission to use cookies</h2><br/><br/>
<h3>If you want to change your choices regarding cookie permissions, you can use the button below:</h3><br/><br/>

<h2></h2>
<h3>Social Website Cookies</h3><br/>
Cookies are used by social websites (like Facebook and Twitter) so you can easily Like or share our content with the sharing buttons on our site.<br/><br/>

The privacy implications on this will vary from the different social websites and are dependent on the privacy settings you have chosen on these networks.<br/><br/>
<h2></h2>
<h3>Visitor Statistics Cookies</h3><br/>
We use cookies to compile visitor statistics such as how many people have visited our website, what type of technology they are using (e.g. Mac or Windows which helps to identify when our site isn't working as it should for particular technologies), how long they spend on the site, what page they look at etc.<br/><br/>

This helps us to continuously improve our website. These analytics programs also tell us if how people reached this site (e.g. from a search engine) and whether they have been here before helping us to put more money into developing our services for you instead of marketing spend.<br/><br/>
<h2></h2>
<h3>We use:</h3><br/><br/>

Google Analytics - <a href="{% url 'movie:privacy' %}">Privacy Policy</a> owned by Google<br/><br/>
Advertising Cookies<br/><br/>
Cookies are widely used in online advertising. Neither us, advertisers or our advertising partners can gain personally identifiable information from these cookies.<br/><br/>

You can learn more about online advertising, or opt-out of almost all advertising cookies at https://www.youronlinechoices.com.<br/><br/>

<h2>Note:</h2> Opting out of advertising cookies will not disable ads, they will just no longer be tailored to you.<br/><br/>
<h2></h2>
<h3>We use:</h3><br/>

DoubleClick - <a href="{% url 'movie:privacy' %}">Privacy Policy</a> owned by Google<br/>
33across.com<br/>
adform.com<br/>
adtech.com<br/>
advertising.com<br/>
amazon-adsystem.com<br/>
aolcloud.net<br/>
appnexus.com<br/>
beachfront.com<br/>
brightcom.com<br/>
contextweb.com<br/>
conversantmedia.com<br/>
districtm.io<br/>
freewheel.tv<br/>
fyber.com<br/>
imonomy.com<br/>
improvedigital.com<br/>
indexexchange.com<br/>
lijit.com<br/>
lkqd.com<br/>
lkqd.net<br/>
openx.com<br/>
pubmatic.com<br/>
rhythmone.com<br/>
rubiconproject.com<br/>
sekindo.com<br/>
smartadserver.com<br/>
smartclip.net<br/>
sonobi.com<br/>
sovrn.com<br/>
spotx.tv<br/>
spotxchange.com<br/>
synacor.com<br/>
yldbt.com<br/>
w3schools.com<br/>
Advertisements<br/><br/><h2></h2>
We fund our site by showing adverts as you browse our site. These adverts are usually managed by a partner specializing in providing adverts for multiple sites. Invariably these partners place cookies to collect anonymous data about the websites you visits so they can personalize the adverts to you, ensure that you don't see the same adverts too frequently and ultimately report to advertisers on which adverts are working.<br/><br/>
<h2></h2>

<h3>Turning Cookies Off</h3><br/><br/>

You can usually switch cookies off by adjusting your browser settings to stop it from accepting cookies. Your browser help function will tell you how. Doing so however will limit the functionality of most of the world's websites as cookies are a standard part of websites.<br/><br/>
<h2></h2>

<h3>Using Google Drive in our Tryit Editor</h3><br/>
Our Tryit Editor allows users to store code to, or import code from, Google Drive.<br/><br/>
<h2></h2>


<h3>This allows users to:</h3><br/>

Store examples/code to their Google Drive<br/><br/>
Share examples/code through Google Drive<br/><br/>
Erudition does not keep for ourselves, or share this information with third parties.<br/><br/>
<h2></h2>


<h3>Links</h3><br/><br/>
Erudition contains links to other sites. We are not responsible for the privacy practices or the content of such Web sites. This privacy document applies only to Erudition.<br/><br/>


<h2></h2>
<h3>Contacting the Web Site</h3><br/><br/>
For any questions about this privacy statement, please contact:<br/>

anjaliverma111199@gmail.com <br/>
vinayaksrivastava880@gmail.com<br/><br/>
<h2></h2>


 </div>
</div>


{% endblock %}
