{% extends 'movie/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'movie/css/profile.css' %}" />
{% endblock %}

{% block body %}
                     <div class="akm">
                     <div class="v">
                    <center><h1><b></b></h1></center><br/><br/><br/><br/>
                    <b>If you want to report an error, or if you want to make a suggestion, do not hesitate to send us an e-mail:</b><br/><br/>

                       
                         <li><a href="https://www.gmail.com/" target="_blank">help@erudition.com</a></li> </div><br/><br/><br/><br/><br/><br/>
             
 </div>
</div>


{% endblock %}
                