<!DOCTYPE HTML>
<html>
<head>
	<style>
	body{

	background-image: url(historybg.jpeg);
	font-size:30px;
	color:white;


}
	</style>
</head>

	<body>
		<center> <h1> <U>Awards</U> </h1> </center>


			<p>
        At<b>TEAM SPIRIT</b>, the Corporate Relations Center (CRC) functions more than just placing employees.
          <br>While their employees are annually recruited by the users (Corporate Componies,Home Service user etc..), we go a step further.</br>
          <br>They ensure that every employees is 360 degrees employable rather than just providing employments.</br>
              Training takes up a large part of the CRC portfolio.Employees are...
          <hr/>

      </p>
			<br/>
			<p>
				<b>United Ranks no. 1 in intellectual Capital in UP
				<br></br>
				Shiksha Bharti Puraskar by All India Achievers Foundation for 2012 & 2013
				<br></br>
				AAj TAK Award 2012
				<br></br>
				Outstanding placement Award by HT
				<br></br>
				Award for excellence in Education by Business Sphere
				<br></br>
				Asia Best B school Award By CMO Asia </b>

			</p>

    </body>
</html>
