<!DOCTYPE HTML>
<html>
  <head>
    <style>
     body{
       color:white;
       size:22px;
       background-image: url(historybg.jpeg);
     }
    </style>
  </head>



<body>
  <center><h1><b><u>TeamSpirit</u></b></h1></center>
  <p>
    <h1> <b>Instagram ID :-</b></h1>
		<center> <h1> <b>ID : @vinayak__01 </b></h1></center>
		<center> <h1> <b>ID : @akarsh__021 </b></h1></center>
	</p>
  <p>
    <h1> <b>Mobile No. :-</b></h1>
    <center> <h1> <b>Vinayak. :- +91 8182868742 </b></h1></center>
    <center> <h1> <b>Akarsh :- +91 8188863398 </b></h1></center>
  </p>
  <p>
    <h1> <b>Mail ID :-</b></h1>
    <center> <h1> <b>Vinayak. :-  vinayaksrivastava318@gmail.com</b></h1></center>
    <center> <h1> <b>Akarsh :- baranwalkhm@gmail.com </b></h1></center>
  </p>

</body>
</html>
