<!DOCTIVE html>
<html>
<head>
<title>login form</title>
<link rel="stylesheet" type="text/css" href="e.css"/>
</head>
  <body>

    <h1 id="p1">SIGN UP </h1>

    <img id="t1" src="https://www.tajmahal.gov.in/images/slider/slider.jpg"/>

    <form action="e.php" method="post">
      <table id="s1">
        <tr>
        <th>Name</th>
        <td><input type="text" name="username" placeholder="username" /></td>
        </tr>

        <tr>
        <th>Email id</th>
        <td><input type="text" name="Emailid" placeholder="Email id" /></td>
        </tr>
        <tr>
        <th>Password</th>
        <td><input type="password" name="password" placeholder="password"/></td>
        </tr>
        <tr>
        <td><input type="submit" value="Sign Up"/>
        <input type="reset"/></td>
        </tr>
    </form>
      </table>
  </body>
</html>
