<!DOCTYPE HTML>
<html>
	<head>

	</head>
	<body>
		<style>table tr td {padding:10px;border-bottom:1px dotted #000}.textbx{width: 50%; height: 34px;
		padding: 3px; background-color:#d9d9d9; border: solid 2px #000;}</style>
		<form name ="form1" action ="" method="post">
			<h1>Admission Form</h1>
			<table width ="100%">
				<tr>
					<td>Student Name*</td>
					<td>Father's Name*</td>


				</tr>
				<tr>
					<td><input type ="text" class="textbx" name ="Alumni_name" placeholder = "Student Name" required></td>
					<td><input type ="text"  class="textbx"  name ="Fthr_name" placeholder = "Father's Name" required></td>
				</tr>

				<tr>
					<td>Date Of Birth*</td>
					<td>Year Of Admission*</td>
				</tr>
				<tr>
					<td><input type ="Date" class="textbx"  name ="Alumni_Dob" placeholder = "Date Of Birth" required></td>
					<td><input type ="text" class="textbx"  name ="Passing out_year" placeholder = "Year Of Admisssion" required></td>
				</tr>
				<tr>
					<td>Class*</td>
					<td>Contact NO.*</td>
				</tr>
				<tr>
					<td><input type ="text" class="textbx"  name ="Branch_name" placeholder = "Class" required></td>
					<td><input type ="text" class="textbx"  name ="Contact_info" placeholder = "Contact No." required></td>
				</tr>
				<tr>
					<td>Mobile NO.*</td>
					<td>E-Mail ID*</td>
				</tr>
				<tr>
					<td><input type ="text" class="textbx"  name ="MObile_no." placeholder = "Mobile No." required></td>
					<td><input type ="text" class="textbx"  name ="E-Mail_id" placeholder = "E-Mail" required></td>
				</tr>

			</table>
			<table width="100%">
					<tr>
						<td>Permanent Address*</td>

					</tr>
					<tr>

						<td>
							<textarea name="Permanet_Add" class="textbx" placeholder="Permanent Address" rows="6" cols="30" ></textarea>
						</td>

					</tr>

			</table>
			<table width="100%">
					<tr>
						<td>Location*</td>
					</tr>
					<tr>
						<td><input type ="text" class="textbx"  name ="Location" placeholder = "Location" required></td>
					</tr>
			</table>
				<style>
					h5 {color:red;}
				</style>
			

				<style>
					.button{ background-color:#FF0000;}
				</style>
				<center><button type="button" class="button"  >Submit Admission Form</button></center>
		</form>
	</body>
</html>
