<!DOCTYPE HTML>
<html>
<head>
	<style>
	body{

	background-image: url(historybg.jpeg);
	font-size:30px;
	color:white;


}
	</style>
</head>

	<body>
		<center> <h1> <U>History</U> </h1> </center>
			<p>
				 The school is affiliated to the CBSE (Central Board of Secondary Education). Various details about the school are listed below - contact information, academic facilities and statistics based on academic performance based on whatever data is available online. The Affiliation Code is 2130516.<br/>
         The statistics presented above are indicative of the academic standards of the school. This information will also give you an idea about the streams offered by the school and the subjects available as electives. Overall percentage scores have been computed using the five-subject average. In case a candidate appeared for a sixth subject, we use the first language + best 4 subjects.
				 The school conducts a major sports event on 24 September every year on the eve of birth-anniversary of its founder, late Upendra Nath Sinha. The school encourages co-curricular activities and holds at least one competition each month.
      </p>
			<p>
				The school has a built-up area of 400 square feet (38 meter square). It is a two-storey structure with a playground large enough to host all major sports. There is also a computer laboratory. On the ground floor, there is a conference room that is used for all major in-house events hosted for the students.
				It was the first school to be opened in Raghunathpur, Motihari and follows the Central Board of Secondary Education (CBSE) educational pattern. The school caters to children from nursery to Eighth Standard.Classes from Ninth to twelfth have been planned to be introduced.
			</p>
			<p>
				The function of education is to teach one to think intensively and to think critically. Intelligence plus character - that is the goal of true education.
             <b>Martin Luther King, Jr.</b>
			</P>
    </body>
</html>
