<!DOCTYPE HTML>
<html>
<head>
	<style>
	body{
	background-image: url(historybg.jpeg);
	font-size:30px;
	color:white;
}
	</style>
</head>
	<body>
		<center> <h1> <U> Location </U> </h1> </center>
     TeamSpirit Public School
      4/26, Opp Rapti Apt, Sector 4, Gomti Nagar, Lucknow, Uttar Pradesh 226021<br/>
      8182868742,8188863398
      <div class="headerbg">
      <table border="1" width="100%">
          <tr>
            <td><iframe src="https://www.google.com/maps/place//data=!4m2!3m1!1s0x399be324a37eb4af:0x36ea27e2fc49de6?utm_source=mstt_1" name="myframe" height="50%" width="15%" align="right"></iframe> click here</td>
          </tr>
      </table>
      </div>
    </body>
</html>
