<!DOCTYPE HTML>
<html>
<head>
	<style>
	body{

	background-image: url(historybg.jpeg);
	font-size:30px;
	color:white;
}
.properties
{
	font-size:22px;
}
	</style>
</head>
	<body>
		<table border="5" width="100%" style=" text-align:center;" class="properties">
			<tr>
				<th>S. No.</th>
				<th>Student Name</th>
				<th>Student Roll No.</th>
				<th>Mobile No.</th>
			</tr>
			<tr>
				<td>1.</td>
				<td>Vinayak Srivastava</td>
				<td>12453651</td>
				<td>8182868742</td>
			</tr>
			<tr>
				<td>2.</td>
				<td>Akarsh Baranwal</td>
				<td>1012453652</td>
				<td>8188863398</td>
			</tr>
			<tr>
				<td>3.</td>
				<td>Mohit Chakrawarti</td>
				<td>1012453653</td>
				<td>9695832883</td>
			</tr>
			<tr>
				<td>4.</td>
				<td>Prateek Srivastava</td>
				<td>1012453654</td>
				<td>8299294659</td>
			</tr>
			<tr>
				<td>5.</td>
				<td>Priya Dwivedi</td>
				<td>1012453655</td>
				<td>7897142679</td>
			</tr>
			<tr>
				<td>6.</td>
				<td>Anoop Tripathi</td>
				<td>1012453656</td>
				<td>8423395277</td>
			</tr>
			<tr>
				<td>7.</td>
				<td>Piyush Pandey</td>
				<td>1012453657</td>
				<td>9598913889</td>
			</tr>
			<tr>
				<td>8.</td>
				<td>Manish Dubey</td>
				<td>1012453658</td>
				<td>8419855043</td>
			</tr>
			<tr>
				<td>9.</td>
				<td>Nitin  Dwivedi</td>
				<td>1012453659</td>
				<td>7081828366</td>
			</tr>
			<tr>
				<td>10.</td>
				<td>Anjali Verma</td>
				<td>10124536510</td>
				<td>82996755345</td>
			</tr>
			<tr>
				<td>11.</td>
				<td>Alka shukla</td>
				<td>10124536511</td>
				<td>7355768886</td>
			</tr>
			<tr>
				<td>12.</td>
				<td>Aman Mishra</td>
				<td>10124536512</td>
				<td>7408266070</td>
			</tr>
			<tr>
				<td>13.</td>
				<td>Samreena Khursheed</td>
				<td>10124536513</td>
				<td>7866554533</td>
			</tr>
			<tr>
				<td>14.</td>
				<td>Ankit Maurya</td>
				<td>10124536514</td>
				<td>7071734536</td>
			</tr>
			<tr>
				<td>15.</td>
				<td>Ankit Gupta</td>
				<td>10124536515</td>
				<td>8874504949</td>
			</tr>
			<tr>
				<td>16.</td>
				<td>Himanshu Singh</td>
				<td>10124536516</td>
				<td>8112811238</td>
			</tr>
			<tr>
				<td>17.</td>
				<td>Vanshika Prateek Srivastava</td>
				<td>10124536517</td>
				<td>8765453233</td>
			</tr>
			<tr>
				<td>19.</td>
				<td>Avadh Narayan Yadav</td>
				<td>10124536519</td>
				<td>8090709745</td>
			</tr>
			<tr>
				<td>20.</td>
				<td>Pankaj Shukla</td>
				<td>10124536520</td>
				<td>7355916106</td>
		</table>
	</body>
</html>
