<!DOCTYPE HTML>
<html>
<head>
	<style>
	body{

	background-image: url(historybg.jpeg);
	font-size:30px;
	color:white;


}
	</style>
</head>

	<body>
		<center> <h1> <U>Vission & Mission</U> </h1> </center>
    <p>
      A vision is your school's goal where you hope to see it in the future. The mission provides an overview of the steps planned to achieve that future. A vision is concise and easy to recall, whereas a mission is lengthier and more explanatory in nature. Your school may also want to establish targets along the way to measure progress toward its vision. We begin this chapter with developing your school's vision, because you need to know where you want to be before you can determine how you plan to get there.
      Without a vision, your school lacks direction.
    </p>
    <p>
      As the ancient Roman philosopher Seneca observed, "If a man knows not what harbor he seeks, any wind is the right wind." If you don't have a common, agreed-on destination, then everyone is left to his or her own devices to imagine one—a scenario that results in unharnessed and unfocused efforts, with everyone believing that what he or she is doing is right. A common understanding of the destination allows all stakeholders to align their improvement efforts. And the best part of planning for this journey is that it doesn't cost anything to decide where you want to go.
    </p>

    <p>
      One of the most important responsibilities of any leader is establishing a vision and inviting others to share in its development.
      As important as the vision is, we have found that keeping it alive throughout the year is not an easy task. For you to get the most out of your vision, you must first remove the barriers from making it an integral, vibrant facet of the school community.
      As a glocal institute, Udgam School is committed to provide a stable, caring and supportive family-like environment, where students can receive mature guidance through daily interaction with able faculty and become accountable, productive, and ethical citizens with the skills to think innovatively, reason critically, communicate effectively, and respect peoples of other cultures. Our School is also eyeing upon providing such a resourceful learning environment where students can develop into “Citizens of the World”.
    </p>

    </body>
</html>
